<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center text-white">Ingrese Presupuesto</h2>
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control form-control-lg " placeholder="Ingrese su Presupuesto">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary btn-lg m-2">Aceptar</button>
                    <button class="btn btn btn-success btn-lg  m-2">Ingresos</button>
                    <button class="btn btn-danger btn-lg  m-2">Gastos</button>
                </div>
            </div>
        </div>
    </div>
</div>